<nav  style="background-color: #e3f2fd;" class="navbar navbar-expand navbar-light bg-light fixed-top">
    <!-- <a class="navbar-brand" href="#">Kursy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link"[hidden]='isUser()' routerLink='/list'>Lista Kursów<span class="sr-only">(current)</span></a>
            </li>
        <li class="nav-item ">
          <a class="nav-link" [hidden]='isUser2()' routerLink='/addnew'>Dodaj Kurs<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [hidden]='isUser()' (click)='updateActive()' >Szczegóły</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [hidden]='!isUser()' routerLink='/login'>Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [hidden]='!isUser()' routerLink='/register'>Register</a>
        </li>
        <li class="nav-item">
          <a (click)='logOut()'[hidden]='isUser()' class='dark nav-link' routerLink='/login'>
            Wyloguj
          </a>
        </li>
      </ul>
      <span class="navbar-text" [hidden]='isUser()'>
        <b>{{userData.email}}</b>
      </span>
      <span class="navbar-text" style='margin-left: 10px;'>
        Kursy.pl
      </span>
    </div>
    <!-- <button (click)='a()'></button> -->
  </nav>
  <!-- <div class=' container '>
      <div class="row justify-content-center">
        <app-new-course-form></app-new-course-form>
      </div>
    </div>
<app-course-details></app-course-details>
<app-courses-list>
</app-courses-list> -->

<router-outlet ></router-outlet>